<!DOCTYPE html>
<html>
  <head>
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="jumbotron text-center" style="margin-bottom: 0">
      <h1>
        Food Image Recognition<br />And<br />Nutrition Viusalization System
      </h1>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <h2>Introduction</h2>
          <p>
            Every year, an estimated 678,000 deaths worldwide are attributed to an unhealthy diet. 
            Across the globe, diets often tend to be excessively high in calories, fats, sugars, sodium, and other harmful components. 
            Consequently, people around the world have become increasingly proactive when it comes to their health. 
            Services like eating habit recorders and calorie/nutrition calculators have gained significant popularity as they enable individuals to better understand the potential risks associated with unhealthy eating patterns. 
            These risks include conditions such as obesity, cancer, diabetes, heart disease, and more.

            However, many of these services present certain challenges to users. 
            One common issue is the requirement for manual food item selection from hierarchical menus. 
            This process can be time-consuming and lacks user-friendliness, hindering the overall experience for individuals seeking to improve their dietary choices on a global scale.
          </p>
          <p>
            An user-interactive system that takes food images as an input,
            recognizes the food automatically and gives the nutritional-facts as
            an output will save a lot of time.
          </p>
          <h3>Click here to start!</h3>
          <ul class="nav nav-pills nav-stacked">
            <li class="active">
              <a href="/recognize"
                >Food Image Recognition & Nutrition Viusalization System</a
              >
            </li>
          </ul>
          <hr class="hidden-sm hidden-md hidden-lg" />
        </div>
        <div class="col-sm-6">
          <img
            src="{{ img }}"
            alt="food photo"
            width="550"
            height="400"
          />
        </div>
      </div>
    </div>
  </body>
</html>
